<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.financial.kernel.model.mapper.SubjectSupplierMapper">

    <select id="selectSubjectSupplierlVo" resultType="cn.gson.financial.kernel.model.vo.SubjectSupplierlVo">
        select fs.code, fs.type, fs.name, fs.id as subjectId, fsm.supplier_id as supplierId
        from fxy_financial_subject fs
                 left join fxy_financial_subject_supplier fsm on fs.id = fsm.subject_id
        where fs.account_sets_id = #{accountSetsId,jdbcType=INTEGER}
        order by fs.code asc
    </select>
</mapper>
